@font-face {
    font-family: 'Gilroy-Black';
    src: local('Gilroy-Black'),
        url(../fonts/Gilroy-Black.ttf);
}

@font-face {
    font-family: 'Gilroy-BlackItalic';
    src: local('Gilroy-BlackItalic'),
        url(../fonts/Gilroy-BlackItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'),
        url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: local('Gilroy-BoldItalic'),
        url(../fonts/Gilroy-BoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: local('Gilroy-BoldItalic'),
        url(../fonts/Gilroy-BoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'),
        url(../fonts/Gilroy-ExtraBold.ttf);
}

@font-face {
    font-family: 'Gilroy-ExtraBoldItalic';
    src: local('Gilroy-ExtraBoldItalic'),
        url(../fonts/Gilroy-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: local('Gilroy-Heavy'),
        url(../fonts/Gilroy-Heavy.ttf);
}

@font-face {
    font-family: 'Gilroy-HeavyItalic';
    src: local('Gilroy-HeavyItalic'),
        url(../fonts/Gilroy-HeavyItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'),
        url(../fonts/Gilroy-Light.ttf);
}

@font-face {
    font-family: 'Gilroy-LightItalic';
    src: local('Gilroy-LightItalic'),
        url(../fonts/Gilroy-LightItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'),
        url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Gilroy-MediumItalic';
    src: local('Gilroy-MediumItalic'),
        url(../fonts/Gilroy-MediumItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'),
        url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy-RegularItalic';
    src: local('Gilroy-RegularItalic'),
        url(../fonts/Gilroy-RegularItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: local('Gilroy-SemiBold'),
        url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: 'Gilroy-SemiBoldItalic';
    src: local('Gilroy-SemiBoldItalic'),
        url(../fonts/Gilroy-SemiBoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: local('Gilroy-Thin'),
        url(../fonts/Gilroy-Thin.ttf);
}

@font-face {
    font-family: 'Gilroy-ThinItalic';
    src: local('Gilroy-ThinItalic'),
        url(../fonts/Gilroy-ThinItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-UltraLight';
    src: local('Gilroy-UltraLight'),
        url(../fonts/Gilroy-UltraLight.ttf);
}

@font-face {
    font-family: 'Gilroy-UltraLightItalic';
    src: local('Gilroy-UltraLightItalic'),
        url(../fonts/Gilroy-UltraLightItalic.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

header {
    background: url("../img/header_bg.png"), lightgray -3px 0px / 100.209% 100% no-repeat;
    width: 1437px;
    height: 803px;
    flex-shrink: 0;
    margin-left: 2.5%;
}